/* p {
  color: rgb(108, 77, 138);
} */

.Studia,
.Portfolio,
.Contacts {
  margin-top: 15px;
  background: #f0d046;
  color: #2457af;
  font-size: 40px;
}

.Studia:hover,
.Portfolio:hover,
.Contacts:hover {
  background: #2457af;
  color: #FFC0CB;
  font-size: 60px;
}

.Studia:active,
.Portfolio:active,
.Contacts:active{
  color: #5af046;
}

 .Studia:focus,
.Portfolio:focus,
.Contacts:focus {
  color: #f046bd;
  font-size: 60px;
} 
.Studia:visited,
.Portfolio:visited,
.Contacts:visited {
  color: #8421f7;
}

.Contacts {
  font-weight: bold;
  cursor: cell;
}
.Portfolio{
  cursor: crosshair;
}
.list {
  color: rgb(255, 255, 255);
}

/* .feature-list h3{
  color: #f0d046;
} */

/* .feature-list > li{
   color: #f0d046;
} */

/* Псевдокласс :focus */
/* .Studia:focus {
  color: orange;
  font-size: 60px;
} */

/* .schedule-body>tr>td:hover {
  background-color: tomato;
  color: white;
} */

.schedule-body td:hover {
  background-color: tomato;
  color: white;
}

/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}

/* .schedule>thead>tr>th:hover {
background-color: rgb(129, 255, 71);
color: white;
} */

.schedule th:hover {
  background-color: #2457af;
  color: aquamarine;
}


.schedule th,
.schedule td {
  padding: 10px;
  border: 10px solid #473b3b;
}

/* следующие строчки обозначают, что list_p будет стилизирован только внутри feature-list. Снаружи останется все по прежнему, даже если есть list_p */
/* .feature-list .list_p{
  color: rgb(255, 0, 106);
  
} */
 
.feature-list .list_p {
  color: rgb(255, 0, 106);

}

